<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"	
	  class="no-js" lang="en"> 
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta http-equiv="x-ua-compatible" content="ie=edge"/>
	
	<title>Java Star Group</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    Java Star!
  </a>
</nav>

<div class="container">

	<div class="jumbotron">
		<h1 class="jumbotron-heading">Hello Java Stars!</h1>
	</div>
	
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Skill</th>
				<th>Update Date</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="star : ${stars}">
				<td><a th:text="${star.name}" th:href="|/form?name=${star.name}|" ></a></td> 
				<td th:text="${star.phone}"></td>
				<td th:text="${star.email}"></td>
				<td><span th:each="skill : ${star.skills}" 
						th:text="${skill.name}" 
						class="badge badge-success" style="margin-right:3px;"></span></td>
				<td th:text="${#dates.format(star.updateDate, 'd MMM yy hh:mma')}"></td>
				<td><a  th:href="|/delete?name=${star.name}|" >Delete</a></td>
			</tr>
		</tbody>
		<tfoot class="table-light">
			<tr class="text-muted small" style="text-transform:uppercase">
				<td colspan="3" >
					
					Showing <span th:text="${stars.numberOfElements}">3</span> stars 
					out of <span th:text="${stars.totalElements}">9</span>
					
					 
					
					
				</td>
				
				<td colspan="3" style="text-align:right">
					
					<a th:href="|?page=${stars.number-1}|" th:if="${stars.hasPrevious()}">&larr; Previous</a>
					Page <span th:text="${stars.number+1}">1</span> 
					of <span th:text="${stars.totalPages}">5</span> 
					
					<a th:href="|?page=${stars.number+1}|" th:if="${stars.hasNext()}">Next &rarr;</a>
				
				</td>
				
			</tr>
		</tfoot>
	</table>
	
	<a href="/form" class="btn btn-primary" >Join Us!</a>
	
</div>

</body>
</html>